aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;

}

aside.logo img {
    padding-left: 20px;
    width: 85%;
}

@media(max-width: 576px) {

    aside.logo img {
        width: 200px;
    }
}